body{
	background-color:#EFEFEF;
}
header{
	overflow:hidden;
	outline-style:solid;
	outline-color:#F66B0E;
	
	
}
.navbar{
	color:#205375;
	overflow:hidden;
    background-color:transparent;
    float: left;
	padding:10px;
    padding-left:50px;
    padding-right:50px;
	margin: 20px;
	border-color:transparent;
	border-radius:15px;
	border-bottom: 30px;
	transition:0.8s;
	text-decoration:none;
	font-family:Arial;
	
}
.navbar:hover{
    background-color:#f7a872;
    border-color:#f7a872;
}
.logo{
	float:right;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #205375;
  color: white;
  text-align: center;
}
